<footer class="footer">
    <div class="container">
        <div class="row ">
            <div class="col-3">
            </div>
            <div class="col-6 col-md-12">
                <div class="row align-items-top text-left pt-2">
                    <div class="col-md-4 col-sm-12 text-lg-left pt-3">
                        <div class="row pb-2">
                            <div class="col">
                                <p>IMIS Infektionsmanagement</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                Telefon: <a href="tel:0123/456789">0123/456789</a>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                Email: <a href="mailto:test@test.de">test@test.de</a>
                            </div>
                        </div>
                        <div class="row px-2">
                            <div class="col">
                                © 2021 IMIS
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4 col-sm-12 text-lg-left pt-3">
                        <div class="row">
                            <div class="col">
                                <p>Lorem Ipsum</p>
                                <ul class="justify-content-lg-start">
                                    {% for item in site.data.footer.links %}
                                    <li class="nav-item"><a href="{{ item.link | relative_url }}">{{ item.name }}</a>
                                    </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4 col-sm-12 text-lg-left pt-3">
                        <div class="row">
                            <div class="col">
                                <p>Leistungen</p>
                                <ul class="justify-content-lg-end justify-content-center">
                                    {% for item in site.data.footer.services %}
                                    <li class="nav-item"><a href="{{ item.link | relative_url }}">{{ item.name }}</a>
                                    </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-3">
            </div>
        </div>
    </div>
</footer>