<footer class="footer custom-container">
    <div class="row pb-4 justify-content-center align-items-center">
        <div class="col-auto col-md-12">
            <div class="row d-flex flex-column flex-md-row justify-content-between justify-content-lg-between">
                <div class="col-auto col-md-3 col-lg-auto pt-5 d-flex flex-column">
                    <p class="lead mb-auto pb-4">{{ site.data.footer.contact.title }}</p>
                    <p style="white-space: nowrap">
                        Telefon:
                        <a href="te&#108;:{{ site.data.footer.contact.tel }}">
                            {{ site.data.footer.contact.tel }}
                        </a><br>
                        Email:
                        <a href="mai&#108;to:{{ site.data.footer.contact.email }}">
                            {{ site.data.footer.contact.email }}
                        </a>
                    </p>
                    <p>
                        <a href="{{ site.data.footer.contact.twitter }}" style="text-decoration:none;">
                            <i class="bi bi-twitter circle-icon d-inline-block"></i>
                        </a>
                        <a href="{{ site.data.footer.contact.linkedin }}" style="text-decoration:none;">
                            <i class="bi bi-linkedin circle-icon d-inline-block"></i>
                        </a>
                        <a href="{{ site.data.footer.contact.github }}" style="text-decoration:none;">
                            <i class="bi bi-github circle-icon d-inline-block"></i>
                        </a>
                    </p>
                    {{ site.data.footer.contact.copyright }}
                </div>
                <div class="col-auto col-md-3 col-lg-3 pt-5 mt-auto">
                    {% for item in site.data.footer.nav %}
                    <a href="{{ item.link | relative_url}}">{{ item.name }}</a><br>
                    {% endfor %}
                </div>
                <div class="col-auto col-md-auto col-lg-auto pt-5 d-flex flex-column">
                    <p class="lead mb-auto pb-2">{{ site.data.footer.service.title }}</p>
                    {% for item in site.data.footer.services %}
                    <a href="{{ item.link | relative_url }}">{{ item.name }}</a><br>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</footer>