<footer class="fdb-block footer-small" data-block-type="footers" data-id="10">
    <div class="container">
        <div class="row align-items-center text-center">
            <div class="col-12 col-lg-4 text-lg-left">
                <p>IMIS Infektionsmanagement</p>
                <p>Telefon<br>E-Mail</p>
                <p>© 2021 IMIS</p>
            </div>

            <div class="col-12 col-lg-4 text-lg-left">
                <p>Lorem ipsum</p>
                <ul class="justify-content-lg-end justify-content-center">
                    <li class="nav-item">
                        <a class="nav-link" href={{ "/kontakt/" | relative_url }}>Kontakt</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href={{ "/impressum/" | relative_url }}>Impressum</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href={{ "/datenschutz/" | relative_url }}>Datenschutz</a>
                    </li>
                </ul>
            </div>

            <div class="col-12 col-lg-4 text-lg-left">
                <p>Portfolio</p>
                <ul class="justify-content-lg-end justify-content-center">
                    <li class="nav-item">Lorem ipsum</li>
                    <li class="nav-item">Lorem ipsum</li>
                    <li class="nav-item">Lorem ipsum</li>
                </ul>
            </div>
        </div>
    </div>
</footer>