<section class="faq py-5 custom-container">
    <h2 align="center">Du hast Fragen?</h2>
    <div class="row justify-items-center pt-2">
        <div class="offset-sm-1 col-sm-10 offset-xl-0 col-xl-12 px-0">
            <div class="accordion" id="faqaccordion">
                {% for question in site.data.ideenschmiede.faq %}
                    {% include cards/faq_card.html %}
                {% endfor %}
            </div>
        </div>
    </div>
    <script>
        function checkIcons() {
            $.each($(document).find('i'), function(){
                if($( this ).closest(".card-header").attr('aria-expanded') === 'true'){
                    if ($(this).hasClass('bi-plus-circle-fill')){
                        $(this).removeClass('bi-plus-circle-fill');
                        $(this).addClass('bi-dash-circle-fill');
                    }
                }else{
                    if ($(this).hasClass('bi-dash-circle-fill')){
                        $(this).removeClass('bi-dash-circle-fill');
                        $(this).addClass('bi-plus-circle-fill');
                    }
                };
            });
        }

        $(".collapse").on('shown.bs.collapse', checkIcons);
        $(".collapse").on('hidden.bs.collapse', checkIcons);
        $(".collapse").on('show.bs.collapse', checkIcons);
        $(".collapse").on('hide.bs.collapse', checkIcons);


    </script>
</section>