<section class="eyecatcher py-5">
    <div class="container-fluid">
        <div class="row px-0 px-md-5 pb-md-4">
            <div class="col">
                <div class="row text-center">
                    <div class="col">
                        <h1>{{ site.data.index.eyecatcher.title }}</h1>
                    </div>
                </div>
            </div>
        </div>
        <div class="row align-items-center">
            <div class="col ml-md-auto mt-4 mt-md-0 py-2 py-md-5 px-3 px-sm-5 text-center">
                <img alt="haus" class="img-fluid w-lg-75"
                     src="{{ site.data.index.eyecatcher.img_src | relative_url }}">
            </div>
        </div>
    </div>
</section>