<section class="fdb-block py-5 eyecatcher">
    <div class="container-fluid">
        <div class="row px-0 ml-0 px-md-5 ml-md-3">
            <div class="col">
                <div class="row text-center">
                    <div class="col">
                        <h1>Nachhaltige Digitalisierung</h1>
                        <h1>der öffentlichen Gesundheit</h1>
                    </div>
                </div>
                <div class="row py-4 py-4">
                    <div class="col">
                        <hr class="design-line"/>
                    </div>
                </div>
            </div>
        </div>
        <div class="row align-items-center">
            <div class="col ml-md-auto mt-4 mt-md-0 text-center">
                <img alt="image" class="img-fluid w-50"
                     src="https://cdn.jsdelivr.net/gh/froala/design-blocks@master/dist/imgs//shapes/2.svg">
            </div>
        </div>
    </div>
</section>