<section class="fdb-block py-5 eyecatcher">
    <div class="container">
        <div class="row px-2">
            <div class="col">
                <div class="row">
                    <div class="col text-center">
                        <h2>Nachhaltige Digitalisierung</h2>
                        <h2>der öffentlichen Gesundheit</h2>
                    </div>
                </div>
                <div class="row py-4">
                    <div class="col">
                        <hr class="design-line text-left"/>
                    </div>
                </div>
            </div>
        </div>
        <div class="row align-items-center">
            <div class="col ml-md-auto mt-4 mt-md-0 text-right">
                <img alt="image" class="img-fluid w-75"
                     src="https://cdn.jsdelivr.net/gh/froala/design-blocks@master/dist/imgs//shapes/2.svg">
            </div>
        </div>
    </div>
</section>