<section class="news py-5 custom-container">
        <h1 align="center">Neuigkeiten</h1>
        <div class="row py-md-5">
            {% assign for_teaser = true %}
            {% for post in site.posts limit:2 %}
            <div class="col-12 col-xl-6 py-3 position-relative">
                <a href="{{ post.url | relative_url }}" class="stretched-link">
                {% include cards/news_card.html %}
                </a>
            </div>
            {% endfor %}
        </div>
</section>