{% for post in site.posts limit:2 %}
<div class="modal fade" id="modal{{ post.slug}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-body mx-1 mx-sm-4 mb-4">
                <div class="row justify-content-end">
                    <div class="col-auto d-flex flex-column">
                        <p>
                            <a href="#" style="text-decoration:none;" data-dismiss="modal">
                                <i class="bi bi-x-circle circle-icon c1-circle-icon d-inline-block"></i>
                            </a>
                        </p>
                    </div>
                </div>
                <div class="row justify-content-center pb-4">
                    <img class="img-fluid px-3 post-img" src="{{ post.img_src | relative_url }}"/>
                </div>
                <div class="row">
                    <div class="col">
                        <h1 class="text-center">{{ post.title}}</h1>
                    </div>
                </div>
                <div class="row pt-4">
                    <div class="col">
                        <p>{{ post.date | date_to_string }}{% if post.author %} <i>~ von {{ post.author }}</i>{% endif %}</p>
                        {{ post.content }}
                    </div>
                </div>
                {% if post.yt_video_id %}
                <div class="row justify-content-center py-4">
                    <div class="col text-center">
                        <div class="embed-responsive embed-responsive-16by9">
                            <iframe class="embed-responsive-item" src="https://www.youtube-nocookie.com/embed/{{ post.yt_video_id }}" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        </div>
                    </div>
                </div>
                {% endif %}
            </div>
            <div class="modal-footer">
                <button class="btn btn-outline-success" type="button"  data-dismiss="modal">Zurück</button>
            </div>
        </div>
    </div>
</div>
{% endfor %}

<section class="news py-5 custom-container">
    <h2 align="center">Neuigkeiten</h2>
    <div class="row py-md-5">
        {% assign for_teaser = true %}
        {% for post in site.posts limit:2 %}
        <div class="col-12 col-xl-6 py-3 position-relative">
            {% if for_teaser == true %}
            <a href="#" class="stretched-link" data-toggle="modal" data-target="#modal{{ post.slug}}">
                {% else %}
                <a href="{{ post.url | relative_url }}" class="stretched-link">
                    {% endif %}
                    {% include cards/news_card.html %}
                </a>
        </div>
        {% endfor %}
    </div>
</section>