<div id="references-carousel" class="carousel slide custom-container" data-ride="carousel">
    <div class="row pt-4">
        <div class="col text-center">
            <h2>Unsere Referenzen</h2>
        </div>
    </div>
    <div class="row pb-4">
        <div class="col">
            <div class="carousel-inner no-padding">
                {% for group in site.data.index.references %}
                <div class="carousel-item{% if group == site.data.index.references.first %} active{% endif %} h-100">
                    {% if group.items.size <> 3 %}
                        {% assign help_col_width = 4 | divided_by: group.items.size %}
                    {% else %}
                        {% assign help_col_width = 0 %}
                    {% endif %}
                    <div class="row align-items-center mx-4 h-100">
                        <div class="col-md-{{ help_col_width }}"></div>
                        {% for item in group.items %}
                        <div class="col-md-4 text-center{% if item == group.items.first %} col-md-offset-{{ help_col_width }}{% endif %}">
                            <img class="w-75" src="{{ item.img_src }}">
                        </div>
                        {% endfor %}
                        <div class="col-md-{{ help_col_width }}"></div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>

    <div class="row pt-4 pb-3">
        <div class="col">
            <ul class="carousel-indicators">
                {% for group in site.data.index.references %}
                <li data-target="#references-carousel" data-slide-to="{{ forloop.index0 }}"
                    class="{% if group == site.data.index.references.first %} active{% endif %}"></li>
                {% endfor %}
            </ul>
        </div>
    </div>

    <a class="carousel-control-prev" href="#references-carousel" data-slide="prev">
        <i class="bi bi-chevron-left" style="font-size: 2rem;"></i>
    </a>
    <a class="carousel-control-next" href="#references-carousel" data-slide="next">
        <i class="bi bi-chevron-right" style="font-size: 2rem;"></i>
    </a>
</div>