<section class="services pt-5 pb-3">
    <div class="container-fluid">
        <div class="row text-center justify-content-center pt-4 pb-2">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <h2>Unsere Leistungen</h2>
            </div>
        </div>

        <div class="row mt-4 justify-content-center pb-5 px-3 px-xl-5 mx-xl-5">
            {% for card in site.data.index.services_cards %}
            <div class="col-sm-10 col-md-8 col-lg-4 pb-4 pt-2">
                {% include cards/service_card.html %}
            </div>
            {% endfor %}
        </div>
    </div>
</section>
