<section class="services pt-5 pb-3 custom-container">
        <div class="row text-center justify-content-center pb-2">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <h1>Leistungen</h1>
            </div>
        </div>

        <div class="row mt-4 justify-content-center pb-5">
            {% for card in site.data.index.services_cards %}
            <div class="col-12 col-sm-10 col-md-9 col-lg-4 pb-4 pt-2">
                {% include cards/service_card.html %}
            </div>
            {% endfor %}
        </div>
</section>
