<script type="text/javascript" src="//www.startnext.com/js/widget.v2.js" id="cfw-widget-script"></script>
<div class="cfw-widgetModalBody" data-id="104805" data-lang="de">
    <div class="cfw-footer"><a
            href="https://www.startnext.com/imis-infektionsmanagement?utm_source=startnext&utm_medium=extwidget&utm_campaign=projectwidget&utm_term=projectpromo"
            class="cfw-widget-btn" target="_blank" title="IMIS Infektionsmanagement, unterstützen auf Startnext!"><span>Unterstützen</span></a>
    </div>
</div>