<section class="fdb-block pt-2">
    <div class="container">
        {% for member in site.data.team %}
        <div class="row text-left justify-content-center py-4">
            <div class="col-sm-3 m-sm-auto">
                <img alt="image" class="img-fluid rounded-circle"
                     src="{{ member.img_src }}">
            </div>
            <div class="col-sm-9 m-sm-auto px-4 py-4">
                <div class="row">
                    <div class="col">
                        <h2>{{ member.name }}</h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <h3>{{ member.position }}</h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        dabei seit {{ member.since }}
                    </div>
                </div>
                <div class="row pt-2">
                    <div class="col">
                        <p>{{ member.bio }}</p>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</section>