/* Farbschema */

:root {
    --color1: #1ed87e;
    --color2: white;
    --bg-color1: white;
    --bg-color2: #f7f9fb;
}


/* CUSTOM STYLES */

/* icons */

.bi {
    color: var(--color1);
    font-size: 1.5rem;
}

/* navbar */

.nav-item .btn-outline-success {

  border-color: var(--color1);
  background-color: var(--color2);
  color: var(--color1);

}

.nav-item .btn-outline-success:hover {

  border-color: var(--color1);
  background-color: var(--color1);
  color: var(--color2);

}

/* eyecatcher */

body .eyecatcher {
  color: var(--color2);
  background-color: var(--color1);
}

.design-line {
  margin: 0px;
  width: 10%;
  border-width: 5px;
  border-top-color: var(--color2);
}

/* contact-bar */

.contact-bar {
  color: var(--color2);
  background-color: var(--color1);
}

.contact-bar .btn-outline-success {

  border-color: var(--color2);
  background-color: var(--color1);
  color: var(--color2);

}

.contact-bar .btn-outline-success:hover {

  border-color: var(--color2);
  background-color: var(--color2);
  color: var(--color1);

}

/* references carousel */

.col-md-4{
  display: inline-block;
  margin-left:-4px;
}
.col-md-4 img{
  width:100%;
  height:auto;
}

body .carousel-indicators li{
  background-color:lightgrey;
}

.carousel-indicators .active{
  background-color: var(--color1);
}

body .carousel-control-prev-icon,
body .carousel-control-next-icon{
  background-color: var(--color1);
}
body .no-padding{
  padding-left: 0;
  padding-right: 0;
}

/* faq */

.card {
  border-color: var(--color1);
}

.card-header {
  background-color: var(--color2);
  border-bottom-color: var(--color1);
}


/* FROALA STYLES */

body, html {
  margin: 0;
  height: 100%;
}
body.no-block {
  flex-flow: column;
  overflow-x: hidden;
  display: flex;
}
body {
  background: var(--bg-color);
}
.fp-no-block {
  align-items: center;
  justify-content: center;
  font-size: 20px;
  flex-direction: column;
  cursor: pointer;
  color: #444;
  display: none;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  text-align: center;
  background: #FFF;
  transition: margin 0.25s linear 0.25s;
}
.fp-no-block:hover {
  background: #EFEFEF;
}
.fp-no-block.fp-visible {
  display: flex;
}
.fp-no-sections {
  flex: 2;
}
.fr-wrapper{
  width: 100%;
}
.navbar .fr-view{
  display: flex;
  align-items: center;
}
.fr-popup.fr-desktop.fr-inline.fr-active{
}


.fr-popup.fr-desktop.fr-inline.fr-imageProButton.fr-active{
  display:flex;
  padding-right: 12px;
}

.fr-float-left{
  align-items: flex-end;
  display: flex;
  border-top: 1px solid #ebebeb;
  margin-top: 53px;
  padding-bottom: 12px;
  margin-left: -10px;
  padding-left: 10px;
}
#myModal2 .try_fro_content_footer{
  justify-content: center;
  padding-bottom: 20px;
}
#myModal2  .modal-dialog{
  max-width: 450px;
}
#myModal2  .try_fro {
  padding: 45px 22px;
  border-bottom-right-radius: 75%;
  border-bottom-left-radius: 75%;
}
#myModal2  .try_fro_content {
  padding: 40px 22px 0px 22px;
}
#myModal2  .try_fro p {
  color: #fff;
  font-size: 25px;
  margin: 0px;
  text-align: center;
}
.fr-wrapper p{
  margin: 0px;
}
.fr-box.fr-inline .fr-wrapper  .fr-element.fr-view ul{
  display: inline-block !important;
  list-style: none;
}

[role="application"] .fr-view ul{
  display: flex !important;
  list-style: none;
}


.fp-no-block p {
  margin: 0;
}
.fp-no-sections p + p {
  font-size: 16px;
  margin-top: 5px;
}
.fdb-block {
  background-color: var(--bg-color2);
  box-shadow: 0;
  margin-bottom: -5px;
  transition: margin 0.25s linear 0.25s;
  margin-top: -5px;
}
.tui-image-editor-container .tui-image-editor-checkbox-wrap.fixed-width{
  width: 187px !important;
}

.tui-image-editor-container.left .tui-image-editor-submenu .tui-image-editor-submenu-item li{
  margin-top: 8px;
}
.tui-image-editor-container.left .tui-image-editor-submenu .tui-image-editor-submenu-item li:nth-child(1){
  margin-top: -20px;
}

.fp-active {
  box-shadow: 0px 0px 20px rgba(0,0,0,0.14), 0 0px 6px rgba(0,0,0,0.16);
  -moz-box-shadow: 0px 0px 20px rgba(0,0,0,0.14), 0 0px 6px rgba(0,0,0,0.16);
  -webkit-box-shadow: 0px 0px 20px rgba(0,0,0,0.14), 0 0px 6px rgba(0,0,0,0.16);
}
.paddremov{
  padding:0px;
}
.try_fro{
  background-color: #0092FA;
  color: #7DFEFF;
  padding: 35px 22px;
  border-bottom-right-radius: 75%;
}
.try_fro_content{
  padding: 25px 22px 4px 22px;
}
.try_fro_content p{
  color: #000;
}
.try_fro_content_bottom{
  padding: 0px 22px;
}
.try_fro_content_bottom p{
  color: #000;
  font-size: 14px;
}
.try_fro_content_footer ul{
  font-size: 14px;
  padding:0px;
  color: #000;
}
.fr-toolbar .fr-btn-grp:nth-child(1){
  display: block;
  float: none;
}
.fr-toolbar .fr-btn-grp{
  margin: 0px 8px 0 -12px;
    padding-bottom: 0px;
}


.fr-toolbar.fr-inline{
  z-index: 999;
}
.pro-btn button{
  background-color: #0789DC;
  border: none;
  color: #fff;
  padding: 7px 12px;
  border-radius: 2px;
  cursor: pointer;
  margin-top: 7px;
  outline: none !important;
}
.popupp{
  z-index: 9999999999;
}
.download_botton button{
  padding: 10px 25px;
  font-size: 20px;
  font-weight: 700;
  line-height: 25px;
}
.try_fro_content_footer{
  display: flex;
  justify-content: space-around;
  padding: 0px 10px;
}
.try_fro h1{
  font-weight: 300;
  color: #7DFEFF;
  margin: 0px;
  line-height: 47px;
}
.fr-custom{
  display: block !important;
}
.try_fro p{
  color: #fff;
  font-size: 35px;
  margin: 0px;
}
body.fp-add-view [data-block-type],
body.fp-add-view .fp-no-block {
  margin-bottom: 20px;
}
body.fp-add-view [data-block-type] {
  user-select: none;
  position: relative;
}
body.fp-add-view section[data-block-type] {
  cursor: move;
}
body.fp-add-view [data-block-type]:after {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: block;
  z-index: 10000;
  content: "";
}
.fp-drop-placeholder {
  height: 200px;
  width: 100%;
  border: solid 10px  #0098f7;
  background: #FFF;
  margin-bottom: 20px;
}
.fp-dragging {
  display: none;
}
.fr-popup {
  z-index: 999 !important;
}

.tui-image-editor-container.left .tui-image-editor-submenu{
  position: relative;
}
.fp-active{
  display: inline-block;
  width: 100%;
}
img.fr-dib {
  margin: 5px auto;
  display: block;
  float: none;
  vertical-align: top;
}
span.fr-emoticon.fr-emoticon-img {
  background-repeat: no-repeat !important;
  font-size: inherit;
  height: 1em;
  width: 1em;
  min-height: 20px;
  min-width: 20px;
  display: inline-block;
  margin: -.1em .1em .1em;
  line-height: 1;
  vertical-align: middle;
}
@media only screen and (max-width: 767px) {
  .navbar .fr-view {
    display: block;
    align-items: unset;
}
}